body {
    background: #f4f6f8;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
* {
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"],
button[type="submit"] {
    width: 100%;
}


form {
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width: 350px;
}

h1 {
    margin-bottom: 25px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #4a90e2;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #357ab8;
}

p {
    margin: -10px 0 15px 0;
    font-size: 13px;
    color: #e74c3c;
}
